div#fss-welcome-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
          "title title title"
          "content content content"
          "actions actions actions";
  justify-content: center;

  height: var(--full-size);

  .fss-logo {
    width: 3rem;
    height: 3rem;
  }

  div#fss-welcome-title {
    grid-area: title;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h1#fss-welcome-title-text {
      color: var(--main-color);
    }
  }

  p#fss-welcome-content {
    grid-area: content;

    padding: 0 4rem;

    font-size: 26px;
    line-height: 34px;
    text-align: center;
  }

  div#fss-welcome-actions {
    grid-area: actions;
    text-align: center;
  }
}