@import "../styles/generic-step";

:root {
  --footer-height: 2rem;
}

main#fss-app {
    min-height: calc(var(--full-size) - var(--footer-height));

    background-color: var(--background-color);
}

footer#fss-footer {
  position: relative;
}