div#fss-repository-page {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "header"
  "info"
  "vendors"
  "actions";

  header#fss-repository-header {
    grid-area: header;

  }

  section#fss-repository-project-info {
    grid-area: info;
  }

  div#fss-repository-project-vendors {
    grid-area: vendors;
    display: flex;

    & > div[role="tablist"] {
      --tab-width: 12rem;
      flex-basis: var(--tab-width);

      span[role="tab"] {
        width: var(--tab-width);

        & > span {
          display: flex;
          align-items: center;
        }
      }
    }

    div#fss-repository-project-vendors-repos {
      flex: 1;
      margin-left: 1rem;

      div[role="tabpanel"].fss-repository-project-vendors-repo {

        a.fss-repository-project-button {
          margin-top: 0.4rem;
        }

        p > code {
          display: inline-block;
          margin: 0.4rem 0;
        }

        span.fss-repository-project-tip {
          font-style: italic;
        }
      }
    }
  }

  div#fss-repository-project-actions {
    margin-top: 3rem;
  }

}