div#fss-repository-page {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "header"
  "info"
  "actions";

  header#fss-repository-header {
    grid-area: header;

  }

  section#fss-repository-project-info {
    grid-area: info;
  }

  div#fss-repository-project-actions {
    grid-area: actions;

    div#fss-repository-project-actions-repos {
      display: flex;
      flex-flow: column wrap;

      button.fss-repository-project-button {
        margin-bottom: 1rem;
        width: 20rem;
        padding: 0 1rem;

        span.fss-repository-project-button-text {
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }
  }

}