footer#fss-footer {
    flex-shrink: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 2rem;
    width: var(--full-size);

    background-color: var(--light-color);

    text-align: center;

    span {

        a.fss-copyright-link {
            text-decoration: none;
            color: var(--link-color);
        }
    }
}