:root {
  --main-color: #69a68a;
  --light-color: #daf3eb;
  --link-color: #1DA57A;
}

html, body {
  --full-size: 100%;
  width: var(--full-size);
  height: var(--full-size);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  div#root {
    height: var(--full-size);
    display: flex;
    flex-direction: column;
  }
}
