div#fss-page-type-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
          "title title title"
          "content content content"
          "actions actions actions";
  justify-content: center;

  height: var(--full-size);

  .fss-logo {
    width: 3rem;
  }

  div#fss-page-type-title {
    grid-area: title;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    color: var(--main-color);

    h1#fss-page-type-title {}
  }

  p#fss-page-type-content {
    grid-area: content;

    padding: 0 4rem;

    font-size: 20px;
    text-align: center;
  }

  div#fss-page-type-actions {
    grid-area: actions;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    button.fss-page-type-button {
      width: 20rem;
      padding: 0 1rem;

      svg, img {
        margin: 0;
        width: 1.6rem;
      }

      span.fss-page-type-button-text {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}