div#fss-page-type-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
          "header"
          "actions";

  padding: 0 4rem;

  height: var(--full-size);

  .fss-logo {
    width: 3rem;
  }

  header#fss-page-type-header {
    grid-area: header;

    h1#fss-page-type-title {
      color: var(--main-color);
    }

    p#fss-page-type-description {
      font-size: 22px;
    }
  }


  div#fss-page-type-actions {
    grid-area: actions;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    button.fss-page-type-button {
      width: 20rem;
      padding: 0 1rem;

      svg, img {
        margin: 0;
        width: 1.6rem;
      }

      span.fss-page-type-button-text {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}